{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}



{% block body %}
<section class="container">
    <div class="row justify-content-around mt-5">
        <div class="col-sm-5 ">
            <h3 class="">Change Password</h3>

        </div>
        <div class="row justify-content-around">
            <div class="col-sm-5">
                <form action="" method="post" class="">
                    <input type="hidden" name="csrfmiddlewaretoken" value="s6um540s1M9AzeJEAVeKZVG8uj99mA7FmG2nWCBzWgft1Kxqu2obKyi7DBllmqgW"> 
                    
                    <label for="id_old_password">Old password:</label>
                    <input type="password" name="old_password" autocomplete="current-password" autofocus class="form-control" required id="id_old_password">
                    <small class="text-danger"></small>
                    
                    <label for="id_new_password1">New password:</label>
                    <input type="password" name="new_password1" autocomplete="current-password" autofocus class="form-control" required id="id_new_password1">
                    <small class="text-danger"></small>
                    
                    <label for="id_new_password2">Confirm Password:</label>
                    <input type="password" name="new_password2" autocomplete="current-password" autofocus class="form-control" required id="id_new_password2">
                    <small class="text-danger"></small>
                    
                    <input type="submit" value="Change Password" class="btn btn-success my-3">

                </form>

            </div>

        </div>

    </div>

</section>  
{% endblock %}